body {
    padding: 0 2em 0 0;
}

.entry-header {
    margin-bottom: 1em;
}

.entry-title {
    margin: 0 0 0.2em;
}

.entry-content {
    display: flex;
    flex-wrap: wrap;
}




.diningroom-widget {
    padding-left: 20px
}

    .diningroom-widget .img-pro {
        box-shadow: 5px 5px 5px grey;
        margin-top: 10px;
    }

    .diningroom-widget .name-pro {
        margin-top: 10px;
        text-align: justify;
        font-size: 15px;
        letter-spacing: 1.75px;
        font-family: "Josefin Sans",sans-serif;
        line-height: 25px;
    }

    .diningroom-widget .price-pro {
        text-align: inherit;
        font-size: 13px;
        letter-spacing: 1.75px;
        font-family: "Josefin Sans",sans-serif;
        line-height: 25px;
    }
