.giohang_card h2 {
    text-align: center;
    color: #b19579;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn-danger {
    margin-top: 14px;
    padding: 11px;
}

    .btn-danger a {
        color: #fff;
    }


.site-footer {
    margin-top: 90px;
}

.vat {
    color: #b19579;
    text-align: end;
}

.prices__value {
    font-weight: 600;
    font-size: 18px;
    color: #b19579;
}
span.prices__text{
    font-size: 18px;
    color:#b19579;
}
/*td img {
    max-width: 100%;
}
*/
.ProductsList .table {
    width: 100%;
    max-width: 100%;
    font-size: medium;
    margin-bottom: 1rem;
    background-color: transparent;
    color: #b19579;
}


button.btn-Buy {
    background-color: #b19579;
    border: none;
}
button.btn-Buy a{
    color:#fff;
    font-size:18px;
}