body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


container {
    color: white;
}
.site-branding{
    text-align:center;
    margin: 2.3em 2.5em 3.4em 
}
.header-logo img{
    max-height:196px;
}
#primary-menu {
    list-style: none;
    margin: 0 auto;

    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 0.7em;
    letter-spacing: 2px;
    font-weight: 600;
    margin: 0 0 0.4em;
    
}

.primary-nav-container {
    background: #fff;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    width: 100%;
    text-align: center;
    margin: 0;
    box-sizing: inherit;
}

.primary-nav li {
    margin-right: 2em;
    margin-left: 2em;
    display: inline-table;
    margin: 2px 4em;
    box-sizing: inherit;
}

li {
    display: list-item;
}
.primary-nav ul {
    color: black;
    display: block;
    list-style: none;
    margin: 0;
    padding-left: 0;
    font-size: 1em;
}





