
@{
    ViewBag.Title = "OrderSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/OrderSuccess.css" rel="stylesheet" />
<body style="text-align:center">
    <div class="thongbao">
        <h2>Đặt hàng thành công!</h2>
        <div class="order-info">
            
            <div class="order-info__left">
                <img class="circle-img" src="~/Images/AboutUs/Header.jpg" />
                <h3 class="thanks-msg">Thank You</h3>
                <p class="notice-message">Đơn hàng sẽ sớm được vận chuyển đến bạn</p>
                <p>Liên hệ Our Home nếu cần hỗ trợ hoặc giải đáp các thắc mắc bạn nhé !</p>
                <a class="" href="@Url.Action("Index","Home")">
                    <i class="fab fa-opencart"></i>
                    
                </a>
            </div>
</body>


