
@{
    ViewBag.Title = "AboutUsIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<header class="header-content">
    <img class="circle-img" src="~/Images/AboutUs/Header.jpg" />
    <div class="title-header">
        About Us
    </div>
</header>
<div class="aboutus-maincontent">
    <div class="first-content">
        <p>
            Our Home là thương hiệu với nhiều sản phẩm về thiết kế nội thất được thiết kế riêng trên thị trường. Các sản phẩm được chú ý chi tiết về chất liệu và kích thước, độ bền mỗi sản phẩm. Với mong muốn làm đẹp ngôi nhà không chỉ của Our Home mà là của tất cả mọi người, các sản phẩm được thiết kế độc đáo, riêng biệt, đa dạng phù hợp với các phong cách khác nhau.
        </p>
        <p>
            Our Home ra đời nhằm tạo ra được sự khác biệt từ giá trị sản phẩm, mang đến sự tinh tế qua từng sản phẩm đối với khách hàng.
        </p>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            @*<ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>*@
            <div style="clear:both;"></div>
            <div class="about-carousel-inner">
                <div class="carousel-item active">
                    <div class="image-item">
                        <img src="~/Images/AboutUs/Intro1.jpg" />
                    </div>
                    <div class="image-item">
                        <img src="~/Images/AboutUs/Intro2.png" />
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="image-item">
                        <img src="~/Images/AboutUs/Intro3.jpg" />
                    </div>
                    <div class="image-item">
                        <img src="~/Images/AboutUs/Intro4.jpg" />
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="image-item">
                        <img src="~/Images/AboutUs/Intro5.jpg" />
                    </div>
                    <div class="image-item">
                        <img src="~/Images/AboutUs/Intro6.jpg" />
                    </div>
                </div>

            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div style="clear:both;"></div>
    <div class="second-content">
        <h2 class="second-header">
            Giá trị và sự khác biệt
        </h2>
        <p>
            Với mong muốn phát triển thương hiệu Việt bằng nội lực, Our Home đã chú trọng vào thiết kế và sản xuất nội thất trong nước. Danh mục sản phẩm của Our Home thường xuyên được đổi mới và cập nhật, liên tục cung cấp cho khách hàng các dòng sản phẩm theo xu hướng mới nhất. Do chính người Việt thiết kế và sản xuất, nội thất thương hiệu Our Home luôn phù hợp với cuộc sống Á Đông, đem đến sự tiện nghi hoàn hảo trong mọi không gian sống.
        </p>
        <p>
            Hơn 70% sản phẩm của Our Home được thiết kế, sản xuất bởi đội ngũ nhân viên cùng công nhân ưu tú với nhà máy có cơ sở vật chất hiện đại bậc nhất tại Việt Nam.
        </p>
        <p>
            Sự khác biệt của Our Home chính là sáng tạo nội thất thành phong cách riêng, phù hợp với nhu cầu khách hàng. Không chỉ là sản phẩm nội thất đơn thuần, mà còn là không gian sống theo phong cách riêng với cách bày trí hài hòa từ đồ nội thất kết hợp với đồ trang trí. Giúp khách hàng cảm nhận được một không gian sống thực sự, cảm thấy thoải mái để tận hưởng cuộc sống.
        </p>
    </div>
    <div class="third-content">
        <h2 class="third-header">
            Chất lượng và dịch vụ
        </h2>
        <p>
            Chất lượng của nguyên vật liệu, phụ kiện và quy trình sản xuất đều được kiểm định và giám sát chặt chẽ bởi hệ thống quản lý chất lượng ISO 9001. Sản phẩm của Our Home được thiết kế theo định hướng công năng sử dụng, thẩm mỹ và chất lượng. Trong những năm gần đây, thương hiệu luôn hướng đến xu hướng thiết kế xanh nhằm đóng góp không chỉ một không gian sống tiện nghi mà còn là một môi trường sống trong lành cho người sử dụng và cộng đồng. Với nhiều cống hiến như vậy, Our Home vinh dự nhiều năm liền được trao tặng các danh hiệu “Hàng Việt Nam chất lượng cao”, “Trusted brand” và “Top 100 nhà cung cấp hàng đầu”.Bên cạnh đó, Our Home tự hào sở hữu đội ngũ tư vấn thiết kế và kỹ sư chuyên nghiệp, có kiến thức sâu rộng trong lĩnh vực đồ gỗ nội thất. Tập thể nhân viên tại Our Home cam kết nỗ lực tư vấn và trợ giúp khách hàng lựa chọn sản phẩm ưng ý nhất. Dịch vụ tư vấn thiết kế của Our Home sẽ giúp khách hàng kiến tạo một không gian sống như ý thông qua sự phối hợp điêu luyện giữa các sản phẩm nội thất và đồ trang trí.
        </p>

    </div>
    <div class="fourth-content">
        <h2 class="third-header">
            Chất lượng và dịch vụ
        </h2>
        <p>
            Chất lượng của nguyên vật liệu, phụ kiện và quy trình sản xuất đều được kiểm định và giám sát chặt chẽ bởi hệ thống quản lý chất lượng ISO 9001. Sản phẩm của Our Home được thiết kế theo định hướng công năng sử dụng, thẩm mỹ và chất lượng. Trong những năm gần đây, thương hiệu luôn hướng đến xu hướng thiết kế xanh nhằm đóng góp không chỉ một không gian sống tiện nghi mà còn là một môi trường sống trong lành cho người sử dụng và cộng đồng. Với nhiều cống hiến như vậy, Our Home vinh dự nhiều năm liền được trao tặng các danh hiệu “Hàng Việt Nam chất lượng cao”, “Trusted brand” và “Top 100 nhà cung cấp hàng đầu”. Bên cạnh đó, Our Home tự hào sở hữu đội ngũ tư vấn thiết kế và kỹ sư chuyên nghiệp, có kiến thức sâu rộng trong lĩnh vực đồ gỗ nội thất. Tập thể nhân viên tại Our Home cam kết nỗ lực tư vấn và trợ giúp khách hàng lựa chọn sản phẩm ưng ý nhất. Dịch vụ tư vấn thiết kế của Our Home sẽ giúp khách hàng kiến tạo một không gian sống như ý thông qua sự phối hợp điêu luyện giữa các sản phẩm nội thất và đồ trang trí.
        </p>

    </div>
    <div class="fifth-content">
        <h2 class="third-header">
            Nhà máy
        </h2>
        <p>
            Phần lớn sản phẩm của Our Home được sản xuất tại nhà máy của Tổng công ty AA (AA Đức Hòa, Long An và AA Tây Ninh) có diện tích 80.000m2, với trang thiết bị hiện đại nhất và theo tiêu chuẩn ISO 9001, chuyên sản xuất các sản phẩm nội thất chất lượng cao cho các khách sạn, nhà hàng 5 sao, dự án nội thất cao cấp và xuất khẩu.
        </p>

    </div>
    <div style="clear:both;"></div>
</div>
   

