@model IEnumerable<demo_02.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="entry-header">
    <h1 class="entry-title">
        ALL PRODUCT
    </h1>
</header>
<div class="entry-content">
    @foreach (var item in Model)
    {
    <a href="/Products/Details/@item.IdProduct">
        <div class="pro-widget">
            <img class="img-pro"
                 src="@Url.Content(item.Picture1)" height="200" width="200" />
            <div class="name-pro">
                @Html.DisplayFor(modelItem => item.NameProduct);
            </div>
            <div class="price-pro">
                @Html.DisplayFor(modelItem => item.Price);
            </div>
        </div>
    </a>
            }
    </div>
